@page "/"
@using DataJuggler.Blazor.FileUpload
@using TopTrailHorseExtractor.Models

<PageTitle>TopTrailHorse Extrator</PageTitle>

<div>
    <InputFile OnChange="OnUploadData"/>
</div>

@if (String.IsNullOrEmpty(_totalDistance) is not true && _viewYearTotals)
{
    <br/>
    <div>Total Distance: @_totalDistance miles</div>
    <br/>
    <div>
        @foreach(string year in Years)
        {
            _longestRide = new Ride();
            <div class="yearHeader">@year</div>
            @foreach (var ride in RidesSortedByYear[year])
            {
                if (_longestRide.Distance < ride.Distance)
                {
                    _longestRide = ride;
                }
                _totalDistanceForYear += ride.Distance;
            }
            <div>Distance Rode: @_totalDistanceForYear.ToString("N2")</div>
            <div>Longest Rode: @_longestRide?.Distance.ToString("N2")</div>
            <div>Horse Rode: @_longestRide?.Horse</div>
            <div>Date Rode: @_longestRide?.RideDate</div>
            <br/>
            _totalDistanceForYear = 0;
        }
    </div>
}
@if(String.IsNullOrEmpty(_totalDistance) is not true) {
    <Button onclick="@ToggleYearlyTotals" class="ToggleYearlyButton">Toggle Yearly Totals</Button>
    <hr/>
    <div>
    
        <select onchange="@PopulateRidesByCurrentlySelectedHorse" name="Horses">
            @foreach (var horse in HorseNames!)
            {
                <option value="@horse">@horse</option>
            }
        </select>
    </div>
    if (CurrentlySelectedHorseRides is not null)
    {
        <div>Totals Rides: @CurrentlySelectedHorseRides.Count</div>
        <div>Total Miles: @GetTotalMilesByHorse(CurrentlySelectedHorseRides)</div>
        <div>Miles Breakdown: @GetTotalMilesForYearByHorse()</div>
        <div>Longest Ride Ever: @GetLongestRodeMiles(CurrentlySelectedHorseRides)</div>
    }
    <hr/>
}

For any questions related to this tool, please contact me at Kodi.Brunson@gmail.com.